html,
body,
<style type="text/css">
* {
    box-sizing: border-box;
}
.header, .footer {
    background-color: grey;
    color: white;
    padding: 15px;
}
.navbar{
    
      background-color:brown;
}
ul {
    list-style-type: none;
    margin: 0;
 padding: 0;


}

.genel{
    
 padding: 20px;

    
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}

.hakkimda {
    background: #333;
    text-align: center;
    color: white;
    
}

.card{
    
    text-align: center;
    
}

.card img {
    float: center;
    margin: 0 0 10px 10px;
}
.cu img{
    
    float: right;
   
   
}

.bilgi{
    color: brown;
     padding: 20px;
}
.button5 {background-color: #555555;}
.button {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

</style>